LETSENCRYPT_EMAIL=xxxxxxxxx@example.com

# how often to make backups
# ex: every day at 12:00 UTC
BACKUP_CRON_EXPRESSION="0 12 * * *"

BACKUP_RETENTION_DAYS="20"

# directory on host to store backups
BACKUP_DIR=/srv/backups
