DOCKER_IMG=myappchain
DOCKER_TAG=latest

# proxy
LETSENCRYPT_EMAIL=admin@example.xyz

# chain
DOMAIN_CHAIN=chain.example.xyz
BLOCK_INTERVAL=5000
PRODUCE_EMPTY_BLOCKS=true

# app
DOMAIN_APP=app.example.xyz
