services:
  sequencer:
    image: starterkit-sequencer
    build:
      dockerfile: ./docker/base/Dockerfile
      context: ../..
    container_name: starterkit-sequencer
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PROTOKIT_LOG_LEVEL=${PROTOKIT_LOG_LEVEL:-INFO}
    profiles:
      - simple-sequencer
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - db-net
    ports:
      - "8080:8080"
    command: ["${INDEX_JS}", "${PROTOKIT_ENV}", "${PROTOKIT_CONFIG}" ]
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy-network"
      - "traefik.http.routers.api_server.rule=Host(`${GRAPHQL_URL}`)"
      - "traefik.http.routers.api_server.entrypoints=websecure"
      - "traefik.http.routers.api_server.tls.certresolver=letsencrypt"

networks:
  proxy-network:
    external: true
